---
layout: default
title: Privacy Policy
---
.container.txt-lefty
  .row
    .col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
      %p
      %h3 Website Visitors
      %p Like most website operators, GitLab Inc. collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. GitLab Inc.'s purpose in collecting non-personally identifying information is to better understand how GitLab Inc.'s visitors use its website. From time to time, GitLab Inc. may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
      %p GitLab Inc. also collects potentially personally-identifying information like Internet Protocol (IP) addresses. GitLab Inc. does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.
      %h3 Gathering of Personally-Identifying Information
      %p Certain visitors to GitLab Inc.'s websites choose to interact with GitLab Inc. in ways that require GitLab Inc. to gather personally-identifying information. The amount and type of information that GitLab Inc. gathers depends on the nature of the interaction. For example, we ask visitors who use our forums to provide a username and email address. In each case, GitLab Inc. collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with GitLab Inc.. GitLab Inc. does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
      %h3 Aggregated Statistics
      %p GitLab Inc. may collect statistics about the behavior of visitors to its websites. For instance, GitLab Inc. may reveal how many downloads a particular version got. However, GitLab Inc. does not disclose personally-identifying information other than as described below.
      %h3 Protection of Certain Personally-Identifying Information
      %p GitLab Inc. discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors, and affiliated organizations that (i) need to know that information in order to process it on GitLab Inc.'s behalf or to provide services available at GitLab Inc.'s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using GitLab Inc.'s websites, you consent to the transfer of such information to them. GitLab Inc. will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors, and affiliated organizations, as described above, GitLab Inc. discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when GitLab Inc. believes in good faith that disclosure is reasonably necessary to protect the property or rights of GitLab Inc., third parties, or the public at large. If you are a registered user of a GitLab Inc. website and have supplied your email address, GitLab Inc. may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with GitLab Inc. and our products. We primarily use our blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. GitLab Inc. takes all measures reasonably necessary to protect against the unauthorized access, use, alteration, or destruction of potentially personally-identifying and personally-identifying information.
      %h3 Cookies
      %p A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. GitLab Inc. uses cookies to help GitLab Inc. identify and track visitors, their usage of GitLab Inc. website, and their website access preferences. GitLab Inc. visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using GitLab Inc.'s websites, with the drawback that certain features of GitLab Inc.'s websites may not function properly without the aid of cookies.
      %h3 Privacy Policy Changes
      %p Although most changes are likely to be minor, GitLab Inc. may change its Privacy Policy from time to time, and in GitLab Inc.'s sole discretion. GitLab Inc. encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
      %p
        %a{href: "http://creativecommons.org/licenses/by-sa/3.0/", rel: "license"}
          %img{alt: "Creative Commons License", src: "https://creativecommons.org/images/public/somerights20"}/
        %strong Creative Commons Sharealike
        license, parts taken from
        %a{href: "http://www.wordpress.com/"} WordPress.com
        Privacy Policy
      %p
